.header {
    background-color: var(--gray-800);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
    padding: 1.25rem 0;
    column-gap: 0.5rem;
}

.header img {
    height: 3rem;
}